

 <div class="center-content">
        <div class="container text-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/019/194/935/small/global-admin-icon-color-outline-vector.jpg" alt="Admin Logo" class="img-fluid animated-img">
            <h1>Welcome to the Admin Dashboard</h1>
            <p>This is the home page of the admin area.</p>
        </div>
    </div>
