@model HireHub.Web.ViewModels.Jobs.AllJobsQueryModel

@{
    ViewBag.Title = "Explore Jobs";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
    <span class="bi bi-funnel-fill"></span> Filter
</button>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="get">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Category">Category</label>
                            <select asp-for="Category" class="form-control">
                                <option value="">All</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category">@category</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="SearchString">Search</label>
                            <input asp-for="SearchString" class="form-control" placeholder="...">
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="JobSorting">Sort By</label>
                            <select asp-for="JobSorting" class="form-control">
                                <option value="0">Newest</option>
                                <option value="1">Oldest</option>
                                <option value="2">Min Salary</option>
                                <option value="3">Max Salary</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (!Model.Jobs.Any())
{
    <h2 class="text-center">No jobs found by the given criteria!</h2>
}

<div class="row">
    @foreach (var job in Model.Jobs)
    {
        <partial name="_JobsPartial" model="@job" />
    }
</div>
