@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="content">
        <img src="https://source.unsplash.com/800x400/?job" alt="Job Image">
        <h1>Welcome to Job Portal</h1>
        <p>Find your dream job today!</p>
        <a class="apply-btn" asp-action="Explore" asp-controller="Job">Explore for a job</a>
    </div>
</div>