@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="content">
        <img class="home-img" src="https://scontent.fsof8-1.fna.fbcdn.net/v/t1.15752-9/355904030_798735628583028_1012048811042173614_n.jpg?_nc_cat=104&cb=99be929b-59f725be&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wOD_trGa-gQAX-78BTP&_nc_ht=scontent.fsof8-1.fna&oh=03_AdQSF8LuzX58_P7YG2BO7UlCR1MpxEg6PwzWbU3JnliegQ&oe=64C3C33D" alt="Job Image">
        <h1>Welcome to Hire Hub</h1>
        <p>Find your dream job today!</p>
        <a class="apply-btn" asp-action="Explore" asp-controller="Job">Explore for a job</a>
    </div>
</div>