@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="content">
        <img class="home-img" src="~/images/home.jpg" alt="Job Image">
        <h1>Welcome to Hire Hub</h1>
        @if (User.IsInRole("Admin"))
        {
            <p>Admin area!</p>
        }
        else
        {
            <p>Find your dream job today!</p>
            <a class="apply-btn" asp-action="Explore" asp-controller="Job">Explore for a job</a>
        }
    </div>
</div>