@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="content">
        <img class = "home-img"src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt="Job Image">
        <h1>Welcome to Hire Hub</h1>
        <p>Find your dream job today!</p>
        <a class="apply-btn" asp-action="Explore" asp-controller="Job">Explore for a job</a>
    </div>
</div>