body {
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 10%;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 80px; /* Adjust the font size as per your requirement */
    margin: 0;
    padding: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    right: 0;
    animation: starTwinkle 3s infinite linear;
}

.astronaut img {
    width: 100px;
    position: absolute;
    top: 55%;
    animation: astronautFly 6s infinite linear;
}

@keyframes astronautFly {
    0% {
        left: -100px;
    }

    25% {
        top: 50%;
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(45deg);
        top: 55%;
    }

    75% {
        top: 60%;
        transform: rotate(30deg);
    }

    100% {
        left: 110%;
        transform: rotate(45deg);
    }
}

@keyframes starTwinkle {
    0% {
        background: rgba(255,255,255,0.4);
    }

    25% {
        background: rgba(255,255,255,0.8);
    }

    50% {
        background: rgba(255,255,255,1);
    }

    75% {
        background: rgba(255,255,255,0.8);
    }

    100% {
        background: rgba(255,255,255,0.4);
    }
}

.error-404 {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #2e1753;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .error-404:hover {
        background-color: #2e1753;
        color: #fff;
    }